<div class="container">
  <div class="mx-auto" style="width: 600px;">
    <div class="m-5 text-center">
      <h1>부동산 임대관리 프로그램</h1>
    </div>
    <div class="m-5">
      <button type="button" id="inputBtn" class="btn btn-primary btn-lg btn-block" ng-click='input()'>입력하기</button>
      <button type="button" id="searchBtn" class="btn btn-secondary btn-lg btn-block" ng-click="search()">조회하기</button>
      <button type="button" id="alarmBtn" class="btn btn-primary btn-lg btn-block" ng-click='alarm()'>알림보기</button>
    </div>
  </div>
</div>
